$c-primary: #ff8000;
$c-secondary: #fff;
$c-third: #000;

$c-grey: #dbdbdb;
$c-primary-ligth: #ffa449;
$c-red: #ff0000;

$font-family: "Poppins", sans-serif;

$shadow-box: 0px 2px 8px rgba(0, 0, 0, 0.25);

$header: 3.5rem;

$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

$mq-s: 320px; //small mobile
$mq-m: 480px; //medium mobile
$mq-l: 768px; //large mobile
$mq-ls: 1024px; //desktock
